<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_input">Word you want to define.</label>
    <input id="n" name="word_input" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-info">Add!</button>
</form>
