<h1>What word do you want to define?</h1>

<h3>Current Words</h3>

<% if @words.any? %>
<ul>
  <% @words.each do |word| %>
  <li><a href="/words/<%= word.id %>"><%= word.input %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no words to show.</p>
<% end %>

<a href="/words/new">Add a new word</a>
